body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}

a {
  color: #00B7FF;
}

.hide {
  display: none;
}


#albums_container {
  min-width: 90%;
}

.container {
  margin: 10px 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  min-height: 100vh;
}

#media_container, #friends_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#media_navigation {
  display: flex;
  justify-content: space-around;
}

#media_navigation.hide {
  display: none;
}

#friends_list {
  border-bottom: 1px solid black;
}

#friends_list div {
  margin: 10px;
}

.media {
  margin: 5px;
  text-align: center;
}

/* When user hover over the images or videos */
.clickable:hover {
  cursor: pointer;
}

/* When user hover over the friend list's names */
.friend:hover {
  cursor: pointer;
  background-color: yellow;
}

/* For when the album is selected */
.active {
  background-color: yellow;
}

/* anchor tag with the disabled class name */
a.disabled {
  pointer-events: none;
  color: gray;
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  height: auto;
}


.enlarged {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.enlarged #close_button_container {
  text-align: end;
}

.enlarged #close:hover {
  cursor: pointer;
}

.enlarged .media:hover, .enlarged .clickable:hover {
  cursor: default;
}


/* Desktop size */
@media screen and (min-width: 1020px) {
  

  .header {  
      display: flex;
      align-items: center;
      justify-content: space-around;
  }

  #login_container {
    display: flex;
  }

  #login, #logout, #greetings {
    margin: 0 1rem;
  }

  .container {
    flex-direction: row;
  }

  #friends_list {
    flex-direction: column;
    justify-content: start;
    border-bottom: 0px;
    border-right: 1px solid black;
    min-width: 10%;
  }
  
}